@font-face {
    font-family: sintony;
    src: url(fonts/Sintony/Sintony-Regular.ttf);
}
@font-face {
    font-family: playfair;
    src: url(fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}
body{
    margin: 0;
}

.navbar-brand{
    padding: 16px 0;
}

.navbar-nav .nav-link{
     font-family: sintony ;
    font-size: 14px;
    color: #2c465a !important;
    font-weight: bold;
    text-transform: uppercase;

}
 .bi-cart2{
   color: black !important;
}
.navbar-nav .nav-item:not(:last-child) .nav-link{
    margin-right: 16px;
}
.navbar-nav .nav-item .booking-button{
    color: #fff !important;
    background-color: #fea100;
    border: #fff 2px solid;
    padding: 0 14px;
    word-spacing: 3px;
}
.booking{
    padding: 3px;
    background-color: #fea100;
}
.booking img{
    padding: 10px 14px 10px 0;
}
.my-item {
    height: 570px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.my-carousel .carousel-cap h2, .my-carousel .carousel-cap p{
    color: white;
    font-family:playfair;
    font-weight: bold;
    position:relative;
}

.my-carousel .carousel-cap h2{
    font-size: 56px;
    margin-bottom: 0;
}
.my-carousel .carousel-cap p{
    font-size: 40px;
    line-height: 36px;
}
.my-carousel .coloured-txt{
    color: #fea100;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 0;
    background-color: transparent;
    margin: 2.5px 0;
    opacity: 1;
    
}


.my-carousel .carousel-indicators {
    position: absolute;
    top: 45%;
    left: 0;
    z-index: 2;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 29px;
}
 .carousel-indicators .active{
    border-color:#fea100;
    position: relative;

}
.carousel-indicators .active::after {
    width: 4px;
    height: 4px;
    content: "";
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fea100;
}
.second-carousel .carousel-indicators {
    position: absolute;
    top: 20px;
    z-index: 2;
    padding: 2px;
    list-style: none;
    display: flex;
    margin-left: 0;
    margin-right: 0;
}
.second-carousel .carousel-indicators .indicator-style button {
    margin-left: 5px;
    

}
.second-carousel{
    
    top: 92px;
}
.second-carousel .carousel-inner{
    padding-bottom: 160px;
}
.reviews p, .delivery p{
    font-family: sintony;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20px;
}
.number{
    font-family: sintony ;
    font-size: 32px ;
    font-weight: bold;
}
.explore-food-menu{
    background-color: #edf1f3;
    border-bottom: 1px solid #dde3e7;
    
}
.reviews p{
   margin: 0 14px;
}
.reviews{
    padding: 27px 37px 27px 0;
    padding-right: 37px;
    border-right: 1px solid #dde3e7;
}
.delivery p{
    margin: 0 25px 0 18px;
    
 }
 .delivery{
     padding-left: 37px;
 }
 .number{
     border-left: 1px solid #dde3e7;
    padding-left: 15px;
    line-height: 37px;
 }
 .left-caption .coloured-txt{
    font-size: 20px;
    color: #fea100;
}
.explore-food-menu .label{
    left: 0;
    bottom: 20px;
}
.hotel-award{
    width: 236px;
}
.card-title{
    font-family: playfair;
    font-size: 35px;
    font-weight: bold;
    padding-top: 13px;
    
}
.card-text{
    padding: 21px 50px 23px 0;

    font-family: sintony;
    font-size: 14px;
}
.read-more, .explore-menu {
    text-decoration: none;
    background-color:#fea100 ;
    font-family: sintony;
    font-size: 14px;
    padding: 15px 35px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    

}
.explore-menu {
    
    margin-top: 31px;
    padding: 15px 30px;

}
   
.read-more{
    margin-right: 42px;
}


.read-more:hover, .explore-menu:hover{
    color: #fff;
}
.inner-container{
    margin: 30px 0 44px 0;
    padding: 30px 0 50px 0;
}
.img-grid img{
    margin: 5px;
}

.my-column{
    display: flex;
    justify-content: flex-end;
}
.first-column{
    margin-top: 50px;
}
.second-column{
    margin-bottom: 50px;
}
.second-column img{
    margin-right: 0;
}

.bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 440px;
    width: 100%;
    top: 0;
    left: 0;
    filter: brightness(0.5);
}
.card-img{
    height:420px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-card{
    box-shadow: 1px 24px 30px 2px rgb(0 0 0 / 10%);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.slider-card .card-img{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.corner-pizza{
    position: absolute;
    height:311px;
    width: 311px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -22%;
    right:-25% ;
    z-index: -1;
    
}
.slider-card .card-body .card-title{
    font-size: 26px;
    font-weight: bold;
    margin-top: 16px;
    font-family: playfair;
    padding-bottom: 5px;

}

.special{
    font-size: 35px;
    font-weight: bold;
    font-family: playfair;
    padding-bottom:17px ;

}
.slider-card .card-body .card-txt{
    font-size: 14px;
    font-family: sintony;
    color: #5c6369;
    line-height: 22px;
    padding-bottom: 43px;
    padding: 0 13px 43px 13px;
    
}
.slider-card .card-body  .lower-caption{
    border-top: 1px solid #dde3e7;
    padding-top: 15px;
}
.slider-card .card-body .lower-caption .right-side:first-child p {
    font-size: 13px;
    font-family: sintony;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 18px;
}
.slider-card .card-body .lower-caption .right-side .number {
    font-size: 26px !important;
    font-family: playfair;
    font-weight: bold;
}
.pink{
    color: #fe4c8d;
}
.price{
    font-family: sintony;
    font-size: 30px;
    font-weight: bold;
    color: #fea100;
   
}
.dolar-sign{
    font-family: playfair;
    font-size: 15px;
    
    
}
.food-menu{
    padding-top: 24px;
    font-size: 35px;
    font-weight: bold;
    font-family: playfair;

}
.list-inline {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold !important;
    font-family: playfair;
    border-bottom: 1px dashed #a3b0ba;
    border-top: 1px dashed #a3b0ba;
    padding: 16px 0;
    margin-bottom: 30px;
    
}
.list-inline .list-inline-item:not(:last-child) {
    padding-right: 38px;
}
.food-menu-card:not(:last-child){
    border-bottom: 1px solid #eeeeee!important;
}
.food-menu-card .card-body{
    padding-bottom: 6px;
    padding-right: 41px;
}
.food-menu-card .card-body .card-title {
    margin-top: 6px;
    font-size: 16px;
    font-weight: bold !important;
    font-family: sintony;
}
.food-menu-card .card-body .card-subtitle {
    font-size: 14px;
    font-family: sintony;
    color: #5c6369;
}
.food-menu-card .card-body .price{
    font-size: 26px !important;
}
.happy-clients-carousel{
    margin-top: 102px;
}
.happy-clients{
    height: 465px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.carousel-control-prev-icon{
    background-image: url(images/left_arrow.png);
}
.carousel-control-next-icon{
    background-image: url(images/right_arrow.png);
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    height: 45px;
    width: 25px;
}
.carousel-card{
    margin-top: 62px;
    padding: 0 100px;
}
.carousel-card .card-title{
    font-size: 35px;
    font-family: playfair;
    font-weight: bold;
    color:white;
    margin-bottom: 22px;
}
.carousel-card .card-text{
    font-size: 15px;
    font-family: sintony;
    color:white;
    line-height: 24px;
    margin: 0 30px;
    padding: 0 58px;

}
.review-author{

    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-position: top;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}
.review-border{
    margin: 24px 0 12px ;
    z-index: 2;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 4px solid white !important;
    position: relative;
}
.carousel-card .author{
    font-size: 16px;
    font-family: sintony;
    color:white;
    font-weight: bold;
    margin-bottom: 0;
}
.stars i{
    font-size: 14px;
    color: #fff221;
}
.stars{
    line-height: 1px;
    margin-top: 2px;
}
.reserving-table{
    font-family: playfair;
    font-size: 35px;
    font-weight: bold;
    margin-top:50px ;
    padding-top: 40px;
    margin-bottom: 24px;
}

.form-floating>label{
    width: 100%;
}
.bi-journal-medical{
    float: right;
}
.table-img{
    width: 559px;
    height: 334px;
    padding-right: 20px;
    overflow: hidden;
}

.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label , .form-floating>.form-select~label {
    display: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
}
.form-control{
    border-radius: 0;
    border: none;
    border-bottom:1px solid #c7d1d6;
}
.form-control:focus{
    border-color: #fea1007d;
    box-shadow: 0 0 0 0.25rem #fea1007d;
}
.right{
    margin-left: 30px;
}
.input-row {
    margin-bottom:25px;
}

.form-floating>label{
    padding: 5px 0;
}

.form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
    padding-top:2px ; 
     padding-bottom: 2px;
}

.form-floating>.form-control, .form-floating>.form-select {
    height: 40px;
    padding:  0;
}
.reserving-call .reserving-call-text{
    font-size: 13px;
    font-family: sintony;
    font-weight: bold;
    padding-right: 15px;


}
.lower-caption-reservation{
    padding-top: 20px;
}
.reserving-call .number{
    font-size: 24px;
    font-family: sintony;
    font-weight: bold;
}

label, label i{
    color: #363d43;
    font-family: Sintony;
    font-size: 14px;

}
.main-form{
    padding-top: 20px;
    padding-left: 9px;
}
footer{
    margin-top:100px;
    background-color: #373844;
}
.list-group .list-group-item{
    background-color: transparent;
    border: none;
    color: white;
    font-family: playfair !important;
    padding: 3px 0;
}
.list-group-item a{
    color: #adb2b7;
    text-decoration: none;
    font-family: sintony;
    font-size: 14px;

}
.heading-list{
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 21px !important;
    padding-top: 50px !important;
}
.main-txt{
    color: #edf1f3;
    font-family: sintony;
    font-size: 11px;
    padding-left: 21px;
    line-height: 20px;
}
.main-txt .bigger-font{
    font-size: 20px;
    font-weight: bold;
}
.app-logos{
    padding: 11px 0 11px 20px;
}
.avaliable{
    background-color:#52535e !important;
    margin-right: 43px;
    margin-top: 12px;
}
.email-text{
    color: #adb2b7 !important;
    font-family: sintony !important;
    font-size: 14px;
    padding-bottom: 12px !important;
}
.subscribe{
    width: 58%;
    height: 51px;
    margin-right: 8px;
    background-color: transparent;
    border: 2px solid #52535e;
}
.subscribe::placeholder{
    color: #adb2b7;
    font-family: sintony !important;
    font-size: 14px;
}

.bi-facebook, .bi-twitter,  .bi-google{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.facebook, .twitter, .google {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    position: relative;
    margin-right: 7px;
   
}
.facebook{
    background-color: #3b5998;
}
.twitter{
    background-color: #55acee;
}
.google{
    background-color: #dd4b39;
}
.socials {
    margin-top: 30px;
}
.copyright {
    margin-top: 68px;
    padding-bottom: 67px;
    margin-bottom: 0;
    overflow: hidden;
    text-align: center;
    font-size: 13px;
    color: #adb2b7;
    font-family: sintony;
  }
  
  .copyright:before,
  .copyright:after {
    background-color: #52535e;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  .copyright:before {
    right: 36px;
    margin-left: -50%;
  }
  
  .copyright:after {
    left: 36px;
    margin-right: -50%;
  }
  .footer-section{
      padding-top: 40px;
  
  }
  .bg-photo{
      height: 241px;
      width: 241px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      top:10px;
      right: 0;
      z-index: 9999;
  }


  @media only screen and (max-width: 1200px) {
    .explore-food-menu .label{
        display: none;
    }
    .explore-food-menu .wrapper{
        justify-content: center  !important;
        
    }
    .image-col{
        display: none;
    }
    .form-col{
        width: 100%;

    }
    
    
    
}
@media only screen and (max-width: 1000px) {
    .wrapper .left-caption, .lower-caption{
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .avaliable{
        margin-right: 0;
    }
    .delivery{
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
    .delivery .number, .price{
        padding-top: 10px ;
    }
    .inner-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .inner-container .about-card .card-body{
        text-align: center;

    }
    .about-card .card-text{
        padding: 0;
    }

    .inner-container .grid-wrapper{
        padding-top: 10px;
        margin: auto;
    }

    .happy-clients .card-text{
        margin: 0;
    }
    .carousel-card .card-title{
        padding: 0;
        margin-bottom: 5px;
    }

}
@media only screen and (max-width: 768px) {
    .happy-clients-carousel{
        display: none;
    }

    .slider-card{
        margin-top: 10px;
    }
    .footer-section{
        text-align: center;
    }
    .socials{
        margin-top: 10px;
        margin: auto;
    }
    .lower-caption-reservation{
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .reserving-call{
        flex-wrap: wrap;
        justify-content: center !important;
        padding-top:10px ;
    }
    .corner-pizza, .bg-photo{
        display: none;
    }
    
}
@media only screen and (max-width: 700px) {
    .inner-container .grid-wrapper .img-grid .second-column{
        display: none !important;
    }
    .reserving-call{
        padding-top:10px ;
    }
    
}
@media only screen and (max-width: 460px) {
    .read-more{
        margin: 0;
    }
    
    .full-menu{
        display: none;
    }
    
}